.main {
  border-style: none;
}
.name {
  background-color: lightblue;
  text-align: center;
}
.section {
  text-align: justify;
  background-image: url("paper.jpg");
}
img {
  object-fit: cover;
}

