.name{
        
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
.para{
        border: 5px outset rgb(119, 255, 0);
  background-color: rgb(70, 27, 225);
  text-align:justify;
}